html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  margin-top: auto;
}
@font-face {
  font-family: 'Bounded';
  src: url('/fonts/Bounded-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}